.head {
    margin: 10px;
    
    display: flex;
    align-items: center;
}
.head .add {
    margin-left: 65%;
    width: 90px;
    font-size: 50px;
    border-radius: 8px;
    background-color: #121826 ;
}
.table {
    color: white;
    position: static;
}
.MuiDataGrid-footerCell {
    background-color: white;
}
.MuiPagination-root {
     background-color: white;
}
